@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
nav {
    z-index: 1000;
    background: #0c7bca;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    color: white;
    box-shadow: 0px 10px 10px black;
}
.logo {
    font-family: 'Sriracha', cursive;
    font-size: calc(3vh + 5px);
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin: 0 50px 0 50px;
}
.links {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.burger {
    display: none;
}
.hero {
    background: url(./DNA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sriracha', cursive;
    color: white;
}
.hero h1 {
    font-size: 50px;
    text-shadow: 3px 3px gray;
}
button {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    padding: 15px 50px 15px 50px;
    color: white;
    font-size: 35px;
    font-family: 'Roboto Slab', sans-serif;
}
@media screen and (max-width: 1250px) {
    .links {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: block;
        z-index: 100;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        line-height: 20vh;
        transition: width 0.5s ease-in-out;
    }
    .links-active {
        width: 100vw;
    }
    a {
        font-size: 4vh;
        text-decoration: underline;
    }
    .burger {
        display: block;
    }
    .burger:hover {
        cursor: pointer;
    }
    .burger div {
        background: white;
        width: 35px;
        height: 4px;
        margin: 5px;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    .links-active ~ .burger div:nth-child(1) {
        transform: rotate(45deg) translate(13px, 6px);
    }
    .links-active ~ .burger div:nth-child(2) {
        opacity: 0;
    }
    .links-active ~ .burger div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, 0px);
    }
}