@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background: #1a73e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    color: white;
    width: 100%;
}
.logo {
    font-family: 'Sriracha', cursive;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin: 0 50px 0 50px;
}
.links {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.burger {
    display: none;
}
nav button {
    display: none;
}
@media screen and (max-width: 1250px) {
    nav button {
        display: block;
        margin-left: 70%;
        margin-top: 10px;
        background: none;
        border: none;
        color: white;
        font-size: 5vw;
    }
    .links {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: block;
        z-index: 100;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        line-height: 20vh;
        transition: width 0.5s;
    }
    .links-active {
        width: 50vw;
    }
    a {
        font-size: 5vw;
    }
    .burger {
        display: block;
    }
    .burger:hover {
        cursor: pointer;
    }
    .burger div {
        background: white;
        width: 35px;
        height: 5px;
        margin: 5px;
        border-radius: 5px;
    }
}